#container-full{
  background-image: url(../images/h_img.jpg);
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  width: 100%;
  height:auto;
  padding-top:2%;
  padding-bottom: 2%;

}

.container-fluid{
font-family: 'Yrsa', serif;
}

.container-fluid p{
  font-size: 18px;
}

.container{
font-family: 'Yrsa', serif;
}

.container p{
  font-size: 18px
}

.overlay{
  color:transparent;
  height: auto;
  position: relative;
  width: auto;
  height:auto;
}

.intro{
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#logo{
  position: relative;
  padding-top: 15%;
}

#mouse{
  padding-top:13%;
}

/* About us */
#about{
  text-transform: uppercase;
}

/* services */
#services{
  background-image: url(../images/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
}

.overlay2{
  height: auto;
  position: relative;
  height:auto;
  background-color: transparent;
}

#service-header{
  color: white;
  padding-top: 5%;
}
.service-p{
  color: white;
}


/* form */
#form{
  background-image: url(../images/c_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
/* .form{
  margin-left:20%;
} */
.input-one{
  display: inline;
}

.input-one input{
  width:20%;
  background-color: transparent;
  border: 1px solid #c0c0c0;
}

.textarea{
  background-color: transparent;
  border: 1px solid #c0c0c0;
  color: white;
}
::placeholder{
  color: white;
  padding-left: 2%;
}

#social-icons{
  padding-left:0%;
}
