#container-full{
  background-image: url(../images/h_img.jpg);
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  width: 100%;
  height:auto;
  padding-top:2%;
  padding-bottom: 2%;

}

.container-fluid{
font-family: 'Yrsa', serif;
}

.container-fluid p{
  font-size: 18px;
}

.container{
font-family: 'Yrsa', serif;
}

.container p{
  font-size: 18px
}

.overlay{
  color:transparent;
  height: auto;
  position: relative;
  width: auto;
  height:auto;
}

.intro{
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#logo{
  position: relative;
  padding-top: 15%;
}

#mouse{
  padding-top:13%;
}

/* About us */
#about{
  text-transform: uppercase;
}

/* services */
#services{
  background-image: url(../images/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
}

.overlay2{
  height: auto;
  position: relative;
  height:auto;
  background-color: transparent;
}

#service-header{
  color: white;
  padding-top: 5%;
}
.service-p{
  color: white;
}

/* Whatwedo */
#design{
  display: none;
  text-transform:capitalize;
}

#development{
  display: none;
  text-transform: capitalize;
}
#products{
  display: none;
  text-transform: capitalize;
}
/* end  */

/* portfolio */
.work4{
  position: relative;
}
#work4box, #work2box, #work3box, #work1box, #work5box, #work6box, #work7box, #work8box{
  position: absolute;
  background-color:white;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  width:95%;
  display: none;
}
.work{
  margin-top:30%;
  font-family: 'Yrsa', serif;
  font-weight: bold;
  text-transform: uppercase;
}

#work8{
  position: relative;
}
.overlay4{
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: black;
  opacity: 0.8;
  width:90%;
}
.overlay-title{
  color:white;
  border: 2px solid #fff;
  width:80%;
  margin-left: 10%;
  margin-top:9%;
  height: 80%;
}
.overlay-title h1{
  text-align: left;
  text-transform: uppercase;
}
/* form */
#form{
  background-image: url(../images/c_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.input-one{
  display: inline;
}

.input-submit{
  width:30%;
  background-color:black;
  opacity: 0.5;
  border:2px solid #fff;
  border-radius: 12px;
  padding-top:1%;
  padding-bottom:1%;
  font-family: 20px;
  color:white;
  font-size: 20px;
  text-transform: uppercase;
}


.input-one input{
  width:20%;
  background-color: transparent;
  border: 1px solid #c0c0c0;
}

.textarea{
  background-color: transparent;
  border: 1px solid #c0c0c0;
  color: white;
}
::placeholder{
  color: white;
  padding-left: 2%;
}
#name{
  color: white;
}

#social-icons{
  padding-left:2%;
}
